registry = http://nexus.ext.cetic.be:8081/repository/npm-all/
init.author.name = Alexandre Nuttinck
init.author.email = alexandre.nuttinck@cetic.be
email=alexandre.nuttinck@cetic.be
always-auth=true
_auth=YW5AYWQuY2V0aWMuYmU6bWFyY29wb2xPNzUzMQ==
